{
	"plugins": [
    "prettier",
		"@typescript-eslint"
  ],
	"rules": {
		"semi": ["warn", "never"],
		"quotes": ["error", "single"],
		"indent": ["error", "tab"]
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended"
	]
}
