{
	"root": true,
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"@typescript-eslint",
		"html",
		"prettier"
  ],
	"rules": {
		"quotes": ["error", "single"],
		"indent": ["error", "tab"],
		"max-len": ["error", { "code": 120, "ignoreComments": true, "ignoreTrailingComments": true }],
		"no-console": ["warn"],
		"eqeqeq": ["error", "always"],
		"lines-between-class-members": ["off"]
	}
}
